.purchase {
  background-color: var(--ducky-yellow);
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 1rem;
  font-weight: bold;
}

.invisible {
  background-color: transparent;
}

