@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Nabla&display=swap");
@import "../styles/card.css";
@import "../styles/button.css";
@import "../styles/own.css";
@import "../styles/hexagon.css";
@import "../styles/footer.css";

:root {
  --ducky-yellow: #ffc700;
  --red-rose: #f46464;
  --light-orange: #fcd088;
  --p-medium: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", cursive;
}

ul {
  list-style: none;
}

/* Slices */
nav {
  height: 90px;
}

main {
  height: calc(100vh - 90px);
}

#pricing {
  /* background: radial-gradient(39.57% 78.7% at 50% 50%, #FA9B00 0%, #FFDF6C 32.29%, #F46464 100%); */
  background-color: #f46464;
  height: fit-content;
  padding: 20px 15px 70px;
}

/* Elements */

a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

/* Buttons */



.btn {
  border-radius: 10px;
  border: none;
}

nav .btn:nth-child(1) {
  background-color: var(--ducky-yellow);
}

nav .btn:nth-child(2) {
  background-color: var(--red-rose);
  color: white;
}

main .title {
  font-size: 3rem;
}


.bg-image {
  background-image: url("../assets/girl-buying.jpg");
  aspect-ratio: 1;
  background-size: 150%;
  background-repeat: no-repeat;
  clip-path: polygon(
    50% 0%,
    85% 15%,
    100% 50%,
    85% 85%,
    50% 100%,
    15% 85%,
    0% 50%,
    15% 15%
  );
}

#pricing p {
  font-size: var(--p-medium);
}


/* Queries */
@media (min-width: 0) {
  img.bg-image {
    background-image: none;
    object-fit: cover;
    height: calc(100vh - 90px);
    width: 100%;
    clip-path: none;
  }
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}