/* Nav */
.scrolledY {
  background-color: rgb(22, 22, 22);
  transition: all 0.5s ease-in;
}

.scrolledY ul li a,
.scrolledY ul li a:active,
.scrolledY ul li a:link,
.scrolledY button.menu,
.scrolledY i,
.scrolledY .kipuh-logo {
  color: white;
}

.scrolledY ul li a:hover {
  color: #ffc700;
}

.not-scrolledY {
  background-color: white;
  transition: all 0.5s ease-in;
}

.not-scrolledY ul li a,
.not-scrolledY ul li a:active,
.not-scrolledY ul li a:link,
.not-scrolledY button.menu,
.not-scrolledY i,
.not-scrolledY .kipuh-logo {
  color: black;
}
.not-scrolledY ul li a:hover {
  color: #f46464;
}



/* Sidenavbar */
#side-navbar {
  z-index: 7;
  height:100vh;
  width: 0;
  padding: 0;
  border-radius: 20px 0 0 20px;
}
