.scrolledY {
  background-color: black;
  transition: all 0.2s ease-in;
}

.scrolledY ul li a,
.scrolledY ul li a:active,
.scrolledY ul li a:link,
 .scrolledY .kipuh-logo {
  color: white;
}

.not-scrolledY {
  background-color: transparent;
  transition: all 0.2s ease-in;
}

.not-scrolledY ul li a,
.not-scrolledY ul li a:active,
.not-scrolledY ul li a:link,
.not-scrolledY .kipuh-logo {
  color: black;
}
